.Bar{
	position: relative;
	background-color: yellow;
	text-align:center;
	justify-content: center;
	box-sizing: border-box;
	margin-bottom: 15px;
	margin-top: 30px;
	max-height: 100%;
	min-width: 100px;
	margin-left: var(--page-spacing);
	margin-right: var(--page-spacing);
	font-size: 24px;
	color: purple;
	font-family: 'Righteous', cursive;
	transition: background-color .9s;
}

.BarContainer{
	margin-left: var(--page-spacing);
	margin-right: var(--page-spacing);
	margin-top: 265px;
	display:  grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(32, 1fr);
	grid-column-gap: 20px;
	align-items: end;
	height:400px;
	width: 100%;

}