.BarContainer{
	margin-left: var(--page-spacing);
	margin-right: var(--page-spacing);
	margin-top: 100px;
	display:  grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(32, 1fr);
	grid-column-gap: 20px;
	align-items: end;
	height: 625px;
	width: 1000px;

}