.TopNav{
	background-color: #00004d;
	margin-bottom: 50px;
	color: yellow;
	;}

.currencyNav{
  height: 150px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: yellow;
  align-items: flex-start;
  align-content: space-around;
}

.countrySelection{
  padding: 5px;
}

.countrySelection:hover{
	background-color: purple;
}

h1, h5{
	text-align:center;
	color: yellow;
	font-family: 'Righteous', cursive;
	margin: 0;
}